body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: skyblue;
}
.menu{
   width: 100%;
}
.menu > ul{
    width: 100%;
    background-color: rgb(40, 40, 96);
}
.menu ul{

    float: left;
    list-style: none;
    position: relative;
    padding: 0px;
    margin: 0px;
}
.menu ul a{
    padding: 10px 15px;
    color: aliceblue;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
    display: block;
}
.menu ul li{
    padding: 0px 20px;
    float: left;
    position: relative;
}
.menu ul li:hover{
    background-color: aqua;
}
.menu ul ul{
    display: none;
    position: absolute;
    background-color: aqua;
    top: 100%;
    left: 0px;
}
.menu ul li:hover >ul{
    display: block;
}
.menu ul ul li{
    
    float: none;
    margin-top: 10px;
    padding: 0;
    width: 120px;
}
.menu ul ul li:hover{
    background-color: rgb(54, 205, 205);
    border-left: 2px solid  rgb(40, 40, 96);
}
.menu ul ul ul{
    top: -3px;
    left: 100%;

}
.menu ul ul ul li{
    margin-top: 10px;
    padding: 0;
    width: 130px;
}